body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;

}

main > h1 {
    color:#006400;
}

h1 {
    color: green;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:#8FC85E;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    background-color:#FF5A1D;
    color: white;
}


a {
    text-decoration: none;
    color: Green;
}
/* unvisited link */
a:link {
    color: red;
  }
  /* mouse over link */
  a:hover {
    color: blue;
  }

  /* selected link */
  a:active {
    color: blue;
  }


  .food-list:nth-child(even) {
    background-color:   lightgray;
  }

  /* .food-list:nth-child(4) {
    background-color: lightgray;
  } */

  #main {
    color: white
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }